version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: clarity_cash_mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: claritycashdb
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: clarity_cash_mongo_express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_URL: mongodb://admin:password@mongo:27017/
    depends_on:
      - mongo

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
      target: dev
    container_name: clarity_cash_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://admin:password@mongo:27017/claritycashdb?authSource=admin
    volumes:
      - ./apps/api:/app/apps/api
      - /app/apps/api/node_modules
    depends_on:
      - mongo

  client:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
      target: dev
    container_name: clarity_cash_client
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - ./apps/client:/app/apps/client
      - /app/apps/client/node_modules
    depends_on:
      - api

volumes:
  mongo_data:
